.blinker {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -2px;
    width: 1.5px;
    height: 1em;
    transform: translateY(-50%);
    background-color: red;
    z-index: 10;
  }

  &.active::after {
    animation: blink 1s step-end infinite;
  }

  &.inactive::after {
    animation: none;
    opacity: 0;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}