.smoother-y-blue-menu-background {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background: linear-gradient(
      #e9e9fd,
      #e9e9fd00,
    );
    content: '';
  }

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background: linear-gradient(
      #e9e9fd00,
      #e9e9fd,
    );
    content: '';
  }
}
