body {
  height: 100vh;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 16px;
  font-family: var(--font-safiro-medium);
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-moz-selection {
    background: var(--color-blue);
    color: var(--color-white);
  }
  ::selection {
    background: var(--color-blue);
    color: var(--color-white);
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.animated-text * {
  display: inline-block;
}

.transform-reset {
  transform: none !important;
  translate: none !important;
  rotate: none !important;
  scale: none !important;
}

*::-webkit-scrollbar {
  display: none;
}
