@import 'tailwindcss';

:root {
  /* SPACINGS */
  --x-default: clamp(20px, 8vw, 100px);
  --y-default: clamp(20px, 8vh, 100px);
  --x-half-default: calc(var(--x-default) / 2);
  --y-half-default: calc(var(--y-default) / 2);

  /* FONTS */
  --font-safiro-bold: 'Safiro Bold', sans-serif;
  --font-safiro-bold-italic: 'Safiro Bold Italic', sans-serif;
  --font-safiro-medium: 'Safiro Medium', sans-serif;
  --font-safiro-medium-italic: 'Safiro Medium Italic', sans-serif;
  --font-safiro-regular: 'Safiro Regular', sans-serif;
  --font-safiro-regular-italic: 'Safiro Regular Italic', sans-serif;
  --font-safiro-semibold: 'Safiro SemiBold', sans-serif;
  --font-safiro-semibold-italic: 'Safiro SemiBold Italic', sans-serif;
}

@theme {
  /* COLORS (primary) */
  --color-red: #ff0000; /* DEBUG COLOR */
  --color-green: #00ff00; /* DEBUG COLOR */
  --color-blue: #1b17ee;
  --color-white: #f1f2ff;
  --color-black: #141418;
  --color-yellow: #caee17;
  /* COLORS (secondary) */
  --color-blue-70: #1b17eeb3;
  --color-blue-30: #1b17ee59;
  --color-blue-10: #1b17ee1a;
  --color-white-70: #f1f2ffb3;
  --color-white-30: #f1f2ff59;
  --color-black-70: #141418b3;
  --color-black-30: #14141859;
  --color-yellow-70: #caee17b3;
  --color-yellow-30: #caee1759;
  /* COLORS (tertiary) */
  --color-blur-glass: #c5c4ff4d;

  /* FONTS */
  --font-safiro-bold: var(--font-safiro-bold);
  --font-safiro-bold-italic: var(--font-safiro-bold-italic);
  --font-safiro-medium: var(--font-safiro-medium);
  --font-safiro-medium-italic: var(--font-safiro-medium-italic);
  --font-safiro-regular: var(--font-safiro-regular);
  --font-safiro-regular-italic: var(--font-safiro-regular-italic);
  --font-safiro-semibold: var(--font-safiro-semibold);
  --font-safiro-semibold-italic: var(--font-safiro-semibold-italic);

  /* PADDING */
  --padding-x-default: var(--x-default);
  --padding-y-default: var(--y-default);
  --padding-x-half-default: var(--x-half-default);
  --padding-y-half-default: var(--y-half-default);

  /* MARGIN */
  --margin-x-default: var(--x-default);
  --margin-y-default: var(--y-default);

  /* INSET */
  --inset-x-default: var(--x-default);
  --inset-y-default: var(--y-default);

  /* GAP */
  --gap-x-default: var(--x-default);
  --gap-y-default: var(--y-default);

  /* WIDTH */
  --width-x-default: var(--x-default);
  --width-screen-padded: calc(100vw - (var(--x-default) * 4));

  /* HEIGHT */
  --height-y-default: var(--y-default);
  --height-screen-padded: calc(100vh - (var(--y-default) * 4));

  /* GRID TEMPLATE COLUMNS */
  --grid-template-columns-menu: var(--x-default) 1fr var(--x-default);

  /* GRID TEMPLATE ROWS */
  --grid-template-rows-menu: var(--y-default) 1fr var(--y-default);

  /* INSET */
  --inset-x-default: var(--x-default);
  --inset-y-default: var(--y-default);

  /* BREAKPOINTS */
  --breakpoint-xs: 380px;

  /* EASING */
  /* Power1 */
  --ease-power1-in: cubic-bezier(0.48, 0.04, 0.52, 0.99);
  --ease-power1-out: cubic-bezier(0.16, 0.84, 0.44, 1);
  --ease-power1-in-out: cubic-bezier(0.45, 0, 0.55, 1);

  /* Power2 */
  --ease-power2-in: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-power2-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-power2-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);

  /* Power3 */
  --ease-power3-in: cubic-bezier(0.61, 0, 0.98, 0.57);
  --ease-power3-out: cubic-bezier(0.06, 0.72, 0.23, 1);
  --ease-power3-in-out: cubic-bezier(0.77, 0, 0.175, 1);

  /* Power4 */
  --ease-power4-in: cubic-bezier(0.7, 0, 0.3, 0);
  --ease-power4-out: cubic-bezier(0.3, 1, 0.7, 1);
  --ease-power4-in-out: cubic-bezier(0.83, 0, 0.17, 1);

  /* Bounce (approximation) */
  --ease-bounce-out: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-bounce-in: cubic-bezier(0.76, 0, 0.24, -0.56);
  --ease-bounce-in-out: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* SAFELIST */
.origin-left {
  @apply origin-left;
}
.origin-right {
  @apply origin-right;
}
